@import '../assets/css/bootstrap.min.css';

html,
body {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  padding: 10px;

  table {
    width: 100%;
    box-shadow: 0 0 50px #ccc;
    font-size: 16px;

    th {
      text-align: center;
    }
    tr > td:first-child {
      vertical-align: middle;
    }
    .prevMonthTh {
      border-right: none;
    }
    .nextMonthTh {
      border-left: none;
    }
  }
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #f1f1f1 !important;
}

.btn-light {
  width: 100%;
}

#currentMonth {
  text-transform: uppercase;
  letter-spacing: 2px;
  border-left: none;
  border-right: none;
}

.mybtn {
  display: block;
  padding: 0;
  margin: 0 auto;
  border-radius: unset;
  width: 25px;
  height: 15px;
  font-size: 0;
  text-align: center;
  transition: 0.2s;
  border: 1px solid #fff !important;
  position: relative;
  z-index: 1;
}

.mybtn>.title-info {
  display: none;
  position: absolute;
  color: #000;
  font-size: 10px;
	bottom: 20px;
	left: 50%;
	z-index: 999;
	width: 230px;
	margin-left: -115px;
	padding: 3px;
	border: 2px solid #ccc;
	background-color: #ddd;
	background-image: -webkit-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
	background-image: -moz-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
	background-image: -ms-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
	background-image: -o-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
	background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
	box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
	text-shadow: 0 1px 0 rgba(255,255,255,.4);
}

.title-info::before,
.title-info::after {
  content: "";
	position: absolute;
	z-index: 1000;
	bottom: -7px;
	left: 50%;
	margin-left: -8px;
	border-top: 8px solid #ddd;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 0;
}

.mybtn:hover {
  background: #2dd42d !important;
  transform: scale(1.2);
}
.mybtn:hover>.title-info {
  display: block;
}


.mybtn {
  background: #f37b7b;
}

.mybtn.morning[data-busy="1"] {
  background: #31b0d5;
}

.mybtn.day[data-busy="1"] {
  background: #337ab7;
}

.mybtn.evening[data-busy="1"] {
  background: #dcdcdc;
}

.mybtn:active {
  background: #24c224 !important;
  transform: scale(1.2);
}